.homePages{
    background-color:#F8F8F8;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.479);
    background-image: url('../assets/images/imgHome.jpg');
    background-size: cover;
    height:calc(100vh - 100px) ;
    overflow: hidden;
    position: relative;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(50%);
    z-index: 2;
    position: relative;
}
.banner h1{
 font-size: 48px;
 color: #f8f8f8;
 text-align: center;
 margin-bottom: 10px;
}
.banner h4{
    font-size: 24px;
    color: #f8f8f8;
    text-align: center;
    margin-bottom: 10px;
   }
.overlay{
    background-color: rgba(0, 0, 0, 0.411);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}