.registerContainer{
    display: flex;
    height: 100%;
}

.formRegister{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}
.imgLeft{
    background-image: url('../assets/images/pexels-jkerro-2912583.jpg');
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.imgLeft h2{
    color: #5CAEF2;
    margin: 10px;
}
.labelForm{
    font-size: 24px;
    color: #5CAEF2;
}
.rigth{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.formRegister h2{
    margin-bottom: 10px;
    color: #5CAEF2;
    font-size: 48px;
}
.inputRegister{
    display: block;
    width: 100%;
    padding: 15px;
    border: 2px solid #5CAEF2;
    margin-bottom: 15px;
    outline: none;
    background-color: #E5E5E5;
    color: #989898;
}
.btnRegister{
    background-color: #5CAEF2;
    color: white;
    display: inline-block;
    width: 430px;
    padding: 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.btnRegister:hover{
    background-color: #5caef2b2;
}
.TextRegister{
    text-align: center;
    margin-top: 10px;
}
.loginLink{
    color: #5CAEF2;
    text-decoration: none;
}
